@import url(https://fonts.googleapis.com/css?family=Outfit:regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Public+Sans:300,regular,500,900);

$orange-color: #FE461C;
$white-color: #FFFFFF;
$gray-color: #D9D9D9;
$page-bg-color1: #1F2235;
$page-bg-color2: #24263B;

$default-font: "Public Sans";
$accent-font: "Outfit";
$extra-font: "Montserrat";