@use "reset.scss";
@import "variables";
@import "breakpoints";

%flex-row {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}

%flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

%orange-button-template {
    background: $orange-color;
    border-radius: 4px;
    border: none;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 15px;
    text-align: center;

    color: $white-color;

    cursor: pointer;

    transition: 1s;

    &:hover {
        background-color: $white-color;
        color: $orange-color;

        transition: 1s;
    }
}

%transparent-button-template {
    background-color: transparent;

    border-radius: 4px;
    border: 2px solid $white-color;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 15px;
    text-align: center;

    color: $white-color;

    cursor: pointer;

    transition: 1s;

    &:hover {
        background-color: $white-color;
        color: $orange-color;

        transition: 1s;
    }
}

%page-bg-button-template {
    background-color: $page-bg-color2;

    border: none;
    border-radius: 4px;
    box-shadow: 0 0 24px rgba($color: #0F1018, $alpha: 0.42);

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 12px;

    text-align: center;

    color: $white-color;

    padding: 0 21px;

    transition: 1s;

    cursor: pointer;

    &:hover {
        background-color: $orange-color;
        box-shadow: none;
        transition: 1s;
    }
}

@mixin respond-to ($breakpoint) {
    @if $breakpoint ==sm {
        @media (max-width: $breakpoint-sm) {
            @content;
        }
    }

    @else if $breakpoint ==md {
        @media (max-width: $breakpoint-md) {
            @content;
        }
    }

    @else if $breakpoint ==lg {
        @media (max-width: $breakpoint-lg) {
            @content;
        }
    }

    @else if $breakpoint ==xl {
        @media (max-width: $breakpoint-xl) {
            @content;
        }
    }
}

body {
    background-color: $page-bg-color1;
}

[class*="__container"] {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0px 15px;

    @include respond-to(xl) {
        & {
            max-width: 970px;
        }
    }

    @include respond-to(lg) {
        & {
            max-width: 750px;
        }
    }

    @include respond-to(md) {
        & {
            max-width: 550px;
        }
    }

    @include respond-to(sm) {
        & {
            max-width: none;
            padding: 0 20px;
        }
    }
}

// @media (max-width: 1350px) {
//     [class*="__container"] {
//         max-width: 970px;
//     }
// }

// @media (max-width: 990.98px) {
//     [class*="__container"] {
//         max-width: 750px;
//     }
// }

// @media (max-width: 767.98) {
//     [class*="__container"] {
//         max-width: none;
//     }
// }

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.page {
    flex: 1 1 auto;
}

.subtitle {
    width: 115px;
    height: 36px;

    background: $page-bg-color2;
    box-shadow: 0px 0px 24px rgba(15, 16, 24, 0.42);
    border-radius: 4px;


    font-family: $accent-font;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 12px;
    text-align: center;
    align-content: center;
    letter-spacing: 0.15em;
}

//============================//
.header {
    &__container {
        @extend %flex-row;
        justify-content: end;
        min-height: 94px;

    }

    &__button {

        @extend %orange-button-template;
        padding: 14px 18px;
    }
}

//============================//

.menu__list {
    @extend %flex-row;
    flex-wrap: wrap;
    row-gap: 4px;
    gap: 27px;
    margin-right: 51px;
}

.menu__item {
    font-family: $default-font;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    text-transform: capitalize;
}

.menu__link {
    color: $white-color;
    text-decoration: none;
    transition: 1s;

    &:hover {
        color: $orange-color;
        transition: 1s;
    }
}

//============================//

.page__main {
    min-height: calc(900px - 94px);
}

.main-block {
    display: flex;
    align-items: center;
    justify-content: start;

    &__container {
        position: relative;
        display: flex;
        justify-content: flex-start;
        width: 100%;

        .elipse-small-grey {
            top: -95px;
            left: -102px;
        }

        .grouped-items-image {
            left: 764px;
            top: -93px;
            z-index: -1;

            @media (max-width: 1350px) {
                left: 350px;
            }

            @media (max-width: 760px) {
                display: none;
            }
        }
    }

    &__body {
        color: $white-color;
        font-family: $default-font;
    }

    &__subtitle {
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 20px;
        /* or 125% */
        letter-spacing: 0.15em;
        padding: 16px 0;
    }

    &__heading {
        width: 654px;

        font-family: $accent-font;
        font-weight: 600;
        font-size: 64px;
        line-height: 72px;
        margin-bottom: 31px;
    }

    &__text {
        width: 521px;
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;

        margin-bottom: 36px;
    }

    &__button-group {
        @extend %flex-row;
        justify-content: flex-start;
        gap: 23px;

        .button-group__button {
            width: 160px;
            height: 50px;

            @extend %transparent-button-template;

            &:first-child {
                @extend %orange-button-template;
            }
        }
    }
}

.aside-block {
    position: absolute;

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        img {
            cursor: pointer;
        }
    }
}

//============================//

.page__about {
    min-height: 833px;
    background-color: $page-bg-color2;
}

.about-block {

    &__container {
        display: flex;
        flex-direction: row;
        gap: 60px;

        color: $white-color;
    }

    &__image {
        position: relative;
        top: 220px;
        left: 0px;
    }

    &__body {
        font-family: $default-font;
        position: relative;
        top: 163px;
    }

    &__text {
        width: 524px;
        height: 130px;

        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 26px;

        margin-bottom: 20px;
    }

    &__table-group {
        @extend %flex-row;
        justify-content: start;
        gap: 54px;
    }

    &__table {
        width: 242px;
        height: 182px;
        border-collapse: collapse;

        td {
            padding: 0 3px;
        }
    }

    &__button {
        @extend %orange-button-template;
        width: 160px;
        height: 56px;
    }
}

//============================//

.page__portfolio {
    min-height: 1270px;
}

.portfolio-block {

    &__container {
        @extend %flex-column;
        color: $white-color;
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        font-family: $default-font;
    }

    &__subtitle {
        margin: 120px 0 17px;
    }

    &__h2 {
        margin-bottom: 54px;
    }

    &__classification {
        width: 476px;
        margin-bottom: 36px;

        >ul {
            @extend %flex-row;
            gap: 40px;

            li {
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                    transform: translateY(-5px);
                }
            }
        }
    }

    &__images {
        display: grid;
        gap: 24px;
        grid-template-areas:
            "a b c"
            "d b f"
            "d e f";

        min-height: 828px;
        width: 100%;

        // Define image names and grid areas
        $image-areas: (
            image1: a,
            image2: b,
            image3: c,
            image4: d,
            image5: e,
            image6: f
        );

    // Loop through each image and assign styles dynamically
    @each $name, $area in $image-areas {
        .portfolio-block__images-#{$name} {
            grid-area: $area;
            background-color: $gray-color;
            border-radius: 8px;
        }
    }
}
}

//============================//

.page__services {
    min-height: 750px;
    background-color: $page-bg-color2;
}

.services-block {

    &__container {
        @extend %flex-column;
        color: $white-color;
    }

    &__body {
        @extend %flex-column;
        margin-top: 120px;
        width: 100%;
    }

    &__subtitle {
        width: 172px;
        height: 36px;
        margin-bottom: 17px;
    }

    &__h2 {
        margin-bottom: 55px;
    }

    &__advantages {
        width: 100%;

        >.advantages__block-list {
            @extend %flex-row;

            .advantage__item {

                width: 307px;
                height: 360px;

                background: $page-bg-color1;
                border-radius: 8px;

                padding: 41px 0 41px 25px;

                p {
                    width: 173px;
                    height: 21px;

                    font-family: $accent-font;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 25px;

                    margin: 27px 0;
                }

                .advantage-desc {
                    width: 238px;
                    height: 72px;

                    font-family: $default-font;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 24px;

                    margin-bottom: 37px;
                }

                button {
                    width: 45px;
                    height: 45px;
                    background-color: #24263B;
                    background-image: url("../src/images/advantage-item-arrow.svg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    border: none;
                    border-radius: 50%;
                    cursor: pointer;
                    transition: background-color 0.3s ease-in-out;

                    &:hover {
                        background-color: $orange-color;
                    }
                }
            }
        }
    }
}

//============================//

.page__resume {
    min-height: 806px;
}

.resume-block {

    &__container {
        @extend %flex-row;
        align-items: normal;

        img {
            width: 572px;
            height: 504px;

            margin-top: 266px;
        }
    }

    &__body {
        @extend %flex-column;
        align-items: flex-start;
        color: $white-color;
        font-family: $accent-font;

        .experience-list {
            margin-bottom: 40px;
            @extend %flex-row;
            gap: 20px;

            button {
                @extend %page-bg-button-template;
                height: 36px;
            }
        }
    }

    &__subtitle {
        margin-top: 120px;
    }

    &__h2 {
        margin: 16px 0 47px;
    }

    &__skills {
        width: 606px;
        height: 345px;

        @extend %flex-column;
        gap: 43px;

        $skills: (
            "adobe-illustrator": 90%,
            "adobe-photoshop": 80%,
            "adobe-after-effects": 70%,
            "figma": 60%
        );

    .skill {
        width: 100%;
        height: 54px;

        @extend %flex-column;
        align-items: start;
        gap: 15px;

        &-name-percentage {
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 25px;
            @extend %flex-row;
            width: 100%;
        }

        &-line {
            width: 100%;
            height: 1em;
            background-color: $white-color;
            border-radius: 300px;

        }

        &-overline {
            background-color: $orange-color;
            border-radius: inherit;
            height: inherit;
        }
    }

    @each $name, $percentage in $skills {
        .skill[data-skill="#{$name}"] .skill-overline {
            width: $percentage;
        }
    }
}
}

//============================//

.page__client {
    min-height: 747px;
    background-color: $page-bg-color2;
}

.client-block {
    @extend %flex-column;
    color: $white-color;

    &__body {
        @extend %flex-column;
        font-family: $default-font;
        width: 100%;
    }

    &__subtitle {
        width: 161px;
        height: 36px;
        padding: 12px 26px;

        margin-top: 120px;
    }

    &__h2 {
        margin: 24px 0 49px;
    }

    &__reviews {
        @extend %flex-row;
        width: 100%;
        gap: 24px;

        .review-block {

            .img-cover__block {
                background: url("../src/images/review-cloud-image.svg");

                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                transform: translateX(-24px);

                padding: 41px 41px 82px 41px;
                width: 424px;
            }

            &__heading-block {
                position: relative;
                @extend %flex-column;
                align-items: start;
                width: 290;
                height: 75px;

                border-bottom: 1px solid $white-color;
            }

            .heading-block {
                &__h3 {
                    font-family: $accent-font;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 22px;

                    margin-bottom: 15px;
                }

                &__subtitle {
                    font-style: normal;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 24px;
                }

                &__img {
                    position: absolute;
                    top: 4px;
                    right: 6px;
                }
            }

            &__text {
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;

                margin: 15px 0 30px;
            }

            >img {
                transform: translateX(-12px) translateY(-20px);
            }
        }
    }
}

//============================//

.page__blog {
    min-height: 862px;
}

.blog-block {
    color: $white-color;

    &__body {
        @extend %flex-column;
        font-family: $default-font;

        .blog-list {
            @extend %flex-row;
            gap: 24px;

            @media (max-width: 760px) {
                flex-direction: column;
            }

            &__block {

                &-image {
                    background-color: $gray-color;
                    width: 424px;
                    height: 315px;
                    border-radius: 8px;
                }

                &-activity {
                    @extend %flex-row;
                    justify-content: flex-start;
                    gap: 18px;
                    margin: 26px 0 23px;

                    .activity-list__image-title {
                        @extend %flex-row;
                        gap: 9px;
                        justify-content: start;

                        .activity-title {
                            width: 54px;
                            height: 14px;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 16px;
                        }
                    }
                }

                &-h3 {
                    width: 345px;
                    height: 29px;
                    font-family: $accent-font;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 30px;

                    margin-bottom: 10px;
                }

                &-text {
                    width: 360px;
                    height: 48px;

                    font-style: normal;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 24px;

                    text-shadow: 0px 0px 24px rgba(179, 181, 191, 0.42);
                }
            }
        }
    }

    &__subtitle {
        margin-top: 120px;
    }

    &__h2 {
        margin: 22px 0 61px;
    }
}

//============================//

.page__cta {
    min-height: 630px;
    background-color: $page-bg-color2;
    position: relative;
}

.cta-block {

    &__container {
        position: relative;
        min-height: 630px;
    }

    &__body {
        width: 100%;
        height: 390px;

        @extend %flex-row;
        padding: 0 50px;

        color: $white-color;
        background-color: $page-bg-color1;
        font-family: $default-font;

        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        border-radius: 8px;

        @include respond-to(xl) {
            & {
                justify-content: flex-start;
                gap: 20px;
            }
        }

        @include respond-to(lg) {
            & {
                flex-direction: column;
                justify-content: center;
                padding: 25px;
            }
        }

        @include respond-to(sm) {
            position: relative;
            transform: translateY(25%);
        }

        .cta-desc {
            padding-left: 30px;

            @include respond-to(sm) {
                margin-bottom: 20px;
            }

            &__subtitle {
                width: 183px;
                height: 30px;

                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 28px;

                margin-bottom: 9px;

                @include respond-to(xl) {
                    & {
                        font-size: 19px;
                    }
                }
            }

            &__h2 {
                height: 59px;
                font-style: normal;
                font-weight: 700;
                font-size: 55px;
                line-height: 55px;

                margin-bottom: 12px;

                @include respond-to(xl) {
                    & {
                        font-size: 40px;
                        line-height: 1em;
                        height: 45px;
                    }
                }

                @include respond-to(sm) {
                    & {
                        font-size: 26px;
                        height: 30px;
                    }
                }
            }

            &__text {
                width: 433px;
                height: 21px;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;

                @include respond-to(xl) {
                    & {
                        font-size: 14px;
                        width: fit-content;
                    }
                }
            }
        }

        .cta-form {

            position: relative;

            @include respond-to(sm) {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;
            }

            &__input {
                width: 550px;
                height: 60px;

                background: #FFFFFF;
                border-radius: 80px;
                border: none;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: #9DA1B4;

                padding: 20px;

                &:focus {
                    outline: none;
                }

                @include respond-to(xl) {
                    & {
                        width: 450px;
                    }
                }

                @include respond-to(sm) {
                    & {
                        width: 300px;
                    }
                }
            }

            &__button {
                @extend %orange-button-template;
                width: 190px;
                height: 60px;
                border-radius: 80px;

                position: absolute;
                right: 0;

                @include respond-to(sm) {
                    position: relative;
                    width: 100%;
                }
            }
        }
    }
}

//============================//

.page__contact {
    min-height: 1488px;

    @include respond-to(lg) {
        & {
            margin-bottom: 40px;
        }
    }
}

.contact-block {

    &__container {
        padding: 0 91px;

        @include respond-to(xl) {
            & {
                padding: 0;
            }
        }

        @include respond-to(sm) {
            & {
                padding: 0 20px;
            }
        }
    }

    &__body {
        @extend %flex-column;
        font-family: $default-font;
        align-items: center;
        color: $white-color;
    }

    &__subtitle {
        width: 133px;
        height: 36px;
        box-shadow: 0px 0px 24px rgba(15, 16, 24, 0.42);
        border-radius: 4px;

        margin-top: 120px;
    }

    &__h2 {
        margin: 19px 0 46px;
    }

    &__info-form {
        @extend %flex-row;
        align-items: flex-start;
        gap: 100px;
        width: 100%;
        margin: 0 75px;

        @include respond-to(lg) {
            & {
                flex-direction: column;
                align-items: center
            }
        }

        @include respond-to(md) {
            & {
                gap: 50px;
            }
        }

        .info-form__info-blocks {
            @extend %flex-column;
            gap: 20px;

            @include respond-to(lg) {
                & {
                    width: 100%;
                }
            }

            .info-block {
                width: 368px;
                height: 117px;
                box-sizing: border-box;
                background-color: $page-bg-color2;

                width: 368px;
                height: 117px;

                border: 1px solid rgba(255, 255, 255, 0.2);
                border-radius: 8px;

                @extend %flex-row;
                justify-content: start;

                @include respond-to(lg) {
                    & {
                        width: 100%;
                        justify-content: center;
                    }
                }

                &:hover img {
                    transform: rotate(-10deg);
                    transition: 0.5s;
                }

                &__title-text {
                    @extend %flex-column;
                    align-items: flex-start;
                }

                &__title {
                    width: 205px;
                    height: 26px;
                    font-family: $accent-font;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 30px;
                    margin-bottom: 8px;
                }

                &__text {
                    width: 224px;
                    height: 48px;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 24px;
                    text-shadow: 0px 0px 24px rgba(179, 181, 191, 0.42);
                }
            }
        }

        .info-form {
            width: 700px;
            height: 434px;

            @include respond-to(lg) {
                & {
                    width: 100%;
                }
            }

            &__label {
                display: block;
                width: 174px;
                height: 26px;
                font-family: $accent-font;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 30px;

                margin-bottom: 28px;
            }

            &__name-email {
                width: 700px;
                height: 56px;
                @extend %flex-row;
                gap: 30px;

                @include respond-to(xl) {
                    & {
                        width: fit-content;
                        justify-content: flex-start;
                        gap: 5px;
                    }
                }

                @include respond-to(lg) {
                    & {
                        width: 100%;
                    }
                }

                input {
                    width: 335px;
                    height: 56px;
                    border: 1px solid rgba(255, 255, 255, 0.2);
                    border-radius: 8px;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 19px;
                    color: #70717B;

                    padding: 12px 29px;
                    background-color: $page-bg-color2;

                    @include respond-to(xl) {
                        & {
                            width: fit-content;
                            padding: 12px 26px;
                        }
                    }

                    @include respond-to(lg) {
                        & {
                            width: 100%;
                            flex: 1;
                        }
                    }
                }
            }

            &__message {
                width: 700px;
                height: 210px;
                margin-top: 18px;
                width: 700px;
                height: 210px;
                background: $page-bg-color2;
                border: 1px solid rgba(255, 255, 255, 0.2);
                border-radius: 8px;
                font-family: $default-font;
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                color: #70717B;
                padding: 12px 29px;

                @include respond-to(xl) {
                    & {
                        width: 500px;
                    }
                }

                @include respond-to(lg) {
                    & {
                        width: 100%;
                    }
                }
            }

            &__button {
                @extend %orange-button-template;
                width: 220px;
                height: 56px;
                border-radius: 4px;

                margin-top: 40px;
            }
        }
    }

    &__map {
        margin-top: 80px;
        border-radius: 8px;
        width: 100%;
        height: 550px;

        @include respond-to(md) {
            & {
                height: 400px;
            }
        }
    }
}

//============================//

.footer {
    background-color: $page-bg-color2;
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white-color;
    font-family: $accent-font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    .rights-reserved {
        text-align: center;
    }
}


.bg-image {
    position: absolute;
}

.highlight-text {
    color: $orange-color;
}

.h2 {

    font-family: $accent-font;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    color: $white-color;
}

.medium-weight {
    font-weight: 500;
}