@import url(https://fonts.googleapis.com/css?family=Outfit:regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Public+Sans:300,regular,500,900);
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.contact-block__info-form .info-form__name-email, .contact-block__info-form .info-form__info-blocks .info-block, .contact-block__info-form, .cta-block__body, .blog-block__body .blog-list__block-activity .activity-list__image-title, .blog-block__body .blog-list__block-activity, .blog-block__body .blog-list, .client-block__reviews, .resume-block__skills .skill-name-percentage, .resume-block__body .experience-list, .resume-block__container, .services-block__advantages > .advantages__block-list, .portfolio-block__classification > ul, .about-block__table-group, .main-block__button-group, .menu__list, .header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contact-block__info-form .info-form__info-blocks .info-block__title-text, .contact-block__info-form .info-form__info-blocks, .contact-block__body, .blog-block__body, .client-block__reviews .review-block__heading-block, .client-block__body, .client-block, .resume-block__skills .skill, .resume-block__skills, .resume-block__body, .services-block__body, .services-block__container, .portfolio-block__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-block__info-form .info-form__button, .cta-block__body .cta-form__button, .about-block__button, .main-block__button-group .button-group__button:first-child, .header__button {
  background: #FE461C;
  border-radius: 4px;
  border: none;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  transition: 1s;
}
.contact-block__info-form .info-form__button:hover, .cta-block__body .cta-form__button:hover, .about-block__button:hover, .main-block__button-group .button-group__button:hover:first-child, .header__button:hover {
  background-color: #FFFFFF;
  color: #FE461C;
  transition: 1s;
}

.main-block__button-group .button-group__button {
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid #FFFFFF;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  transition: 1s;
}
.main-block__button-group .button-group__button:hover {
  background-color: #FFFFFF;
  color: #FE461C;
  transition: 1s;
}

.resume-block__body .experience-list button {
  background-color: #24263B;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 24px rgba(15, 16, 24, 0.42);
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 12px;
  text-align: center;
  color: #FFFFFF;
  padding: 0 21px;
  transition: 1s;
  cursor: pointer;
}
.resume-block__body .experience-list button:hover {
  background-color: #FE461C;
  box-shadow: none;
  transition: 1s;
}

body {
  background-color: #1F2235;
}

[class*=__container] {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0px 15px;
}
@media (max-width: 1400px) {
  [class*=__container] {
    max-width: 970px;
  }
}
@media (max-width: 1010px) {
  [class*=__container] {
    max-width: 750px;
  }
}
@media (max-width: 820px) {
  [class*=__container] {
    max-width: 550px;
  }
}
@media (max-width: 576px) {
  [class*=__container] {
    max-width: none;
    padding: 0 20px;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

.subtitle {
  width: 115px;
  height: 36px;
  background: #24263B;
  box-shadow: 0px 0px 24px rgba(15, 16, 24, 0.42);
  border-radius: 4px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 12px;
  text-align: center;
  align-content: center;
  letter-spacing: 0.15em;
}

.header__container {
  justify-content: end;
  min-height: 94px;
}
.header__button {
  padding: 14px 18px;
}

.menu__list {
  flex-wrap: wrap;
  row-gap: 4px;
  gap: 27px;
  margin-right: 51px;
}

.menu__item {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  text-transform: capitalize;
}

.menu__link {
  color: #FFFFFF;
  text-decoration: none;
  transition: 1s;
}
.menu__link:hover {
  color: #FE461C;
  transition: 1s;
}

.page__main {
  min-height: 806px;
}

.main-block {
  display: flex;
  align-items: center;
  justify-content: start;
}
.main-block__container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.main-block__container .elipse-small-grey {
  top: -95px;
  left: -102px;
}
.main-block__container .grouped-items-image {
  left: 764px;
  top: -93px;
  z-index: -1;
}
@media (max-width: 1350px) {
  .main-block__container .grouped-items-image {
    left: 350px;
  }
}
@media (max-width: 760px) {
  .main-block__container .grouped-items-image {
    display: none;
  }
}
.main-block__body {
  color: #FFFFFF;
  font-family: "Public Sans";
}
.main-block__subtitle {
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  /* or 125% */
  letter-spacing: 0.15em;
  padding: 16px 0;
}
.main-block__heading {
  width: 654px;
  font-family: "Outfit";
  font-weight: 600;
  font-size: 64px;
  line-height: 72px;
  margin-bottom: 31px;
}
.main-block__text {
  width: 521px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 36px;
}
.main-block__button-group {
  justify-content: flex-start;
  gap: 23px;
}
.main-block__button-group .button-group__button {
  width: 160px;
  height: 50px;
}
.aside-block {
  position: absolute;
}
.aside-block__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.aside-block__body img {
  cursor: pointer;
}

.page__about {
  min-height: 833px;
  background-color: #24263B;
}

.about-block__container {
  display: flex;
  flex-direction: row;
  gap: 60px;
  color: #FFFFFF;
}
.about-block__image {
  position: relative;
  top: 220px;
  left: 0px;
}
.about-block__body {
  font-family: "Public Sans";
  position: relative;
  top: 163px;
}
.about-block__text {
  width: 524px;
  height: 130px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
}
.about-block__table-group {
  justify-content: start;
  gap: 54px;
}
.about-block__table {
  width: 242px;
  height: 182px;
  border-collapse: collapse;
}
.about-block__table td {
  padding: 0 3px;
}
.about-block__button {
  width: 160px;
  height: 56px;
}

.page__portfolio {
  min-height: 1270px;
}

.portfolio-block__container {
  color: #FFFFFF;
}
.portfolio-block__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: "Public Sans";
}
.portfolio-block__subtitle {
  margin: 120px 0 17px;
}
.portfolio-block__h2 {
  margin-bottom: 54px;
}
.portfolio-block__classification {
  width: 476px;
  margin-bottom: 36px;
}
.portfolio-block__classification > ul {
  gap: 40px;
}
.portfolio-block__classification > ul li {
  cursor: pointer;
}
.portfolio-block__classification > ul li:hover {
  text-decoration: underline;
  transform: translateY(-5px);
}
.portfolio-block__images {
  display: grid;
  gap: 24px;
  grid-template-areas: "a b c" "d b f" "d e f";
  min-height: 828px;
  width: 100%;
}
.portfolio-block__images .portfolio-block__images-image1 {
  grid-area: a;
  background-color: #D9D9D9;
  border-radius: 8px;
}
.portfolio-block__images .portfolio-block__images-image2 {
  grid-area: b;
  background-color: #D9D9D9;
  border-radius: 8px;
}
.portfolio-block__images .portfolio-block__images-image3 {
  grid-area: c;
  background-color: #D9D9D9;
  border-radius: 8px;
}
.portfolio-block__images .portfolio-block__images-image4 {
  grid-area: d;
  background-color: #D9D9D9;
  border-radius: 8px;
}
.portfolio-block__images .portfolio-block__images-image5 {
  grid-area: e;
  background-color: #D9D9D9;
  border-radius: 8px;
}
.portfolio-block__images .portfolio-block__images-image6 {
  grid-area: f;
  background-color: #D9D9D9;
  border-radius: 8px;
}

.page__services {
  min-height: 750px;
  background-color: #24263B;
}

.services-block__container {
  color: #FFFFFF;
}
.services-block__body {
  margin-top: 120px;
  width: 100%;
}
.services-block__subtitle {
  width: 172px;
  height: 36px;
  margin-bottom: 17px;
}
.services-block__h2 {
  margin-bottom: 55px;
}
.services-block__advantages {
  width: 100%;
}
.services-block__advantages > .advantages__block-list .advantage__item {
  width: 307px;
  height: 360px;
  background: #1F2235;
  border-radius: 8px;
  padding: 41px 0 41px 25px;
}
.services-block__advantages > .advantages__block-list .advantage__item p {
  width: 173px;
  height: 21px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  margin: 27px 0;
}
.services-block__advantages > .advantages__block-list .advantage__item .advantage-desc {
  width: 238px;
  height: 72px;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 37px;
}
.services-block__advantages > .advantages__block-list .advantage__item button {
  width: 45px;
  height: 45px;
  background-color: #24263B;
  background-image: url("../src/images/advantage-item-arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.services-block__advantages > .advantages__block-list .advantage__item button:hover {
  background-color: #FE461C;
}

.page__resume {
  min-height: 806px;
}

.resume-block__container {
  align-items: normal;
}
.resume-block__container img {
  width: 572px;
  height: 504px;
  margin-top: 266px;
}
.resume-block__body {
  align-items: flex-start;
  color: #FFFFFF;
  font-family: "Outfit";
}
.resume-block__body .experience-list {
  margin-bottom: 40px;
  gap: 20px;
}
.resume-block__body .experience-list button {
  height: 36px;
}
.resume-block__subtitle {
  margin-top: 120px;
}
.resume-block__h2 {
  margin: 16px 0 47px;
}
.resume-block__skills {
  width: 606px;
  height: 345px;
  gap: 43px;
}
.resume-block__skills .skill {
  width: 100%;
  height: 54px;
  align-items: start;
  gap: 15px;
}
.resume-block__skills .skill-name-percentage {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  width: 100%;
}
.resume-block__skills .skill-line {
  width: 100%;
  height: 1em;
  background-color: #FFFFFF;
  border-radius: 300px;
}
.resume-block__skills .skill-overline {
  background-color: #FE461C;
  border-radius: inherit;
  height: inherit;
}
.resume-block__skills .skill[data-skill=adobe-illustrator] .skill-overline {
  width: 90%;
}
.resume-block__skills .skill[data-skill=adobe-photoshop] .skill-overline {
  width: 80%;
}
.resume-block__skills .skill[data-skill=adobe-after-effects] .skill-overline {
  width: 70%;
}
.resume-block__skills .skill[data-skill=figma] .skill-overline {
  width: 60%;
}

.page__client {
  min-height: 747px;
  background-color: #24263B;
}

.client-block {
  color: #FFFFFF;
}
.client-block__body {
  font-family: "Public Sans";
  width: 100%;
}
.client-block__subtitle {
  width: 161px;
  height: 36px;
  padding: 12px 26px;
  margin-top: 120px;
}
.client-block__h2 {
  margin: 24px 0 49px;
}
.client-block__reviews {
  width: 100%;
  gap: 24px;
}
.client-block__reviews .review-block .img-cover__block {
  background: url("../src/images/review-cloud-image.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateX(-24px);
  padding: 41px 41px 82px 41px;
  width: 424px;
}
.client-block__reviews .review-block__heading-block {
  position: relative;
  align-items: start;
  width: 290;
  height: 75px;
  border-bottom: 1px solid #FFFFFF;
}
.client-block__reviews .review-block .heading-block__h3 {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 22px;
  margin-bottom: 15px;
}
.client-block__reviews .review-block .heading-block__subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}
.client-block__reviews .review-block .heading-block__img {
  position: absolute;
  top: 4px;
  right: 6px;
}
.client-block__reviews .review-block__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin: 15px 0 30px;
}
.client-block__reviews .review-block > img {
  transform: translateX(-12px) translateY(-20px);
}

.page__blog {
  min-height: 862px;
}

.blog-block {
  color: #FFFFFF;
}
.blog-block__body {
  font-family: "Public Sans";
}
.blog-block__body .blog-list {
  gap: 24px;
}
@media (max-width: 760px) {
  .blog-block__body .blog-list {
    flex-direction: column;
  }
}
.blog-block__body .blog-list__block-image {
  background-color: #D9D9D9;
  width: 424px;
  height: 315px;
  border-radius: 8px;
}
.blog-block__body .blog-list__block-activity {
  justify-content: flex-start;
  gap: 18px;
  margin: 26px 0 23px;
}
.blog-block__body .blog-list__block-activity .activity-list__image-title {
  gap: 9px;
  justify-content: start;
}
.blog-block__body .blog-list__block-activity .activity-list__image-title .activity-title {
  width: 54px;
  height: 14px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}
.blog-block__body .blog-list__block-h3 {
  width: 345px;
  height: 29px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 10px;
}
.blog-block__body .blog-list__block-text {
  width: 360px;
  height: 48px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-shadow: 0px 0px 24px rgba(179, 181, 191, 0.42);
}
.blog-block__subtitle {
  margin-top: 120px;
}
.blog-block__h2 {
  margin: 22px 0 61px;
}

.page__cta {
  min-height: 630px;
  background-color: #24263B;
  position: relative;
}

.cta-block__container {
  position: relative;
  min-height: 630px;
}
.cta-block__body {
  width: 100%;
  height: 390px;
  padding: 0 50px;
  color: #FFFFFF;
  background-color: #1F2235;
  font-family: "Public Sans";
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 8px;
}
@media (max-width: 1400px) {
  .cta-block__body {
    justify-content: flex-start;
    gap: 20px;
  }
}
@media (max-width: 1010px) {
  .cta-block__body {
    flex-direction: column;
    justify-content: center;
    padding: 25px;
  }
}
@media (max-width: 576px) {
  .cta-block__body {
    position: relative;
    transform: translateY(25%);
  }
}
.cta-block__body .cta-desc {
  padding-left: 30px;
}
@media (max-width: 576px) {
  .cta-block__body .cta-desc {
    margin-bottom: 20px;
  }
}
.cta-block__body .cta-desc__subtitle {
  width: 183px;
  height: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 9px;
}
@media (max-width: 1400px) {
  .cta-block__body .cta-desc__subtitle {
    font-size: 19px;
  }
}
.cta-block__body .cta-desc__h2 {
  height: 59px;
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 55px;
  margin-bottom: 12px;
}
@media (max-width: 1400px) {
  .cta-block__body .cta-desc__h2 {
    font-size: 40px;
    line-height: 1em;
    height: 45px;
  }
}
@media (max-width: 576px) {
  .cta-block__body .cta-desc__h2 {
    font-size: 26px;
    height: 30px;
  }
}
.cta-block__body .cta-desc__text {
  width: 433px;
  height: 21px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
@media (max-width: 1400px) {
  .cta-block__body .cta-desc__text {
    font-size: 14px;
    width: fit-content;
  }
}
.cta-block__body .cta-form {
  position: relative;
}
@media (max-width: 576px) {
  .cta-block__body .cta-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}
.cta-block__body .cta-form__input {
  width: 550px;
  height: 60px;
  background: #FFFFFF;
  border-radius: 80px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #9DA1B4;
  padding: 20px;
}
.cta-block__body .cta-form__input:focus {
  outline: none;
}
@media (max-width: 1400px) {
  .cta-block__body .cta-form__input {
    width: 450px;
  }
}
@media (max-width: 576px) {
  .cta-block__body .cta-form__input {
    width: 300px;
  }
}
.cta-block__body .cta-form__button {
  width: 190px;
  height: 60px;
  border-radius: 80px;
  position: absolute;
  right: 0;
}
@media (max-width: 576px) {
  .cta-block__body .cta-form__button {
    position: relative;
    width: 100%;
  }
}

.page__contact {
  min-height: 1488px;
}
@media (max-width: 1010px) {
  .page__contact {
    margin-bottom: 40px;
  }
}

.contact-block__container {
  padding: 0 91px;
}
@media (max-width: 1400px) {
  .contact-block__container {
    padding: 0;
  }
}
@media (max-width: 576px) {
  .contact-block__container {
    padding: 0 20px;
  }
}
.contact-block__body {
  font-family: "Public Sans";
  align-items: center;
  color: #FFFFFF;
}
.contact-block__subtitle {
  width: 133px;
  height: 36px;
  box-shadow: 0px 0px 24px rgba(15, 16, 24, 0.42);
  border-radius: 4px;
  margin-top: 120px;
}
.contact-block__h2 {
  margin: 19px 0 46px;
}
.contact-block__info-form {
  align-items: flex-start;
  gap: 100px;
  width: 100%;
  margin: 0 75px;
}
@media (max-width: 1010px) {
  .contact-block__info-form {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 820px) {
  .contact-block__info-form {
    gap: 50px;
  }
}
.contact-block__info-form .info-form__info-blocks {
  gap: 20px;
}
@media (max-width: 1010px) {
  .contact-block__info-form .info-form__info-blocks {
    width: 100%;
  }
}
.contact-block__info-form .info-form__info-blocks .info-block {
  width: 368px;
  height: 117px;
  box-sizing: border-box;
  background-color: #24263B;
  width: 368px;
  height: 117px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  justify-content: start;
}
@media (max-width: 1010px) {
  .contact-block__info-form .info-form__info-blocks .info-block {
    width: 100%;
    justify-content: center;
  }
}
.contact-block__info-form .info-form__info-blocks .info-block:hover img {
  transform: rotate(-10deg);
  transition: 0.5s;
}
.contact-block__info-form .info-form__info-blocks .info-block__title-text {
  align-items: flex-start;
}
.contact-block__info-form .info-form__info-blocks .info-block__title {
  width: 205px;
  height: 26px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 8px;
}
.contact-block__info-form .info-form__info-blocks .info-block__text {
  width: 224px;
  height: 48px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-shadow: 0px 0px 24px rgba(179, 181, 191, 0.42);
}
.contact-block__info-form .info-form {
  width: 700px;
  height: 434px;
}
@media (max-width: 1010px) {
  .contact-block__info-form .info-form {
    width: 100%;
  }
}
.contact-block__info-form .info-form__label {
  display: block;
  width: 174px;
  height: 26px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 28px;
}
.contact-block__info-form .info-form__name-email {
  width: 700px;
  height: 56px;
  gap: 30px;
}
@media (max-width: 1400px) {
  .contact-block__info-form .info-form__name-email {
    width: fit-content;
    justify-content: flex-start;
    gap: 5px;
  }
}
@media (max-width: 1010px) {
  .contact-block__info-form .info-form__name-email {
    width: 100%;
  }
}
.contact-block__info-form .info-form__name-email input {
  width: 335px;
  height: 56px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #70717B;
  padding: 12px 29px;
  background-color: #24263B;
}
@media (max-width: 1400px) {
  .contact-block__info-form .info-form__name-email input {
    width: fit-content;
    padding: 12px 26px;
  }
}
@media (max-width: 1010px) {
  .contact-block__info-form .info-form__name-email input {
    width: 100%;
    flex: 1;
  }
}
.contact-block__info-form .info-form__message {
  width: 700px;
  height: 210px;
  margin-top: 18px;
  width: 700px;
  height: 210px;
  background: #24263B;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #70717B;
  padding: 12px 29px;
}
@media (max-width: 1400px) {
  .contact-block__info-form .info-form__message {
    width: 500px;
  }
}
@media (max-width: 1010px) {
  .contact-block__info-form .info-form__message {
    width: 100%;
  }
}
.contact-block__info-form .info-form__button {
  width: 220px;
  height: 56px;
  border-radius: 4px;
  margin-top: 40px;
}
.contact-block__map {
  margin-top: 80px;
  border-radius: 8px;
  width: 100%;
  height: 550px;
}
@media (max-width: 820px) {
  .contact-block__map {
    height: 400px;
  }
}

.footer {
  background-color: #24263B;
  min-height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.footer .rights-reserved {
  text-align: center;
}

.bg-image {
  position: absolute;
}

.highlight-text {
  color: #FE461C;
}

.h2 {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  color: #FFFFFF;
}

.medium-weight {
  font-weight: 500;
}

/*# sourceMappingURL=main.css.map */
