@use "reset.scss";
@import "variables.scss";

%flex-row {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}

%flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

%orange-button-template {
    background: $orange-color;
    border-radius: 4px;
    border: none;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 15px;
    text-align: center;

    color: $white-color;

    cursor: pointer;

    transition: 1s;

    &:hover {
        background-color: $white-color;
        color: $orange-color;

        transition: 1s;
    }
}

%transparent-button-template {
    background-color: transparent;

    border-radius: 4px;
    border: 2px solid $white-color;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 15px;
    text-align: center;

    color: $white-color;

    cursor: pointer;

    transition: 1s;

    &:hover {
        background-color: $white-color;
        color: $orange-color;

        transition: 1s;
    }
}

%page-bg-button-template {
    background-color: $page-bg-color2;

    border: none;
    border-radius: 4px;
    box-shadow: 0 0 24px rgba($color: #0F1018, $alpha: 0.42);

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 12px;

    text-align: center;

    color: $white-color;

    padding: 0 21px;

    transition: 1s;

    cursor: pointer;

    &:hover {
        background-color: $orange-color;
        box-shadow: none;
        transition: 1s;
    }
}

body {
    background-color: $page-bg-color1;
}

[class*="__container"] {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0px 15px;
}

@media (max-width: 1350px) {
    [class*="__container"] {
        max-width: 970px;
    }
}

@media (max-width: 990.98px) {
    [class*="__container"] {
        max-width: 750px;
    }
}

@media (max-width: 767.98) {
    [class*="__container"] {
        max-width: none;
    }
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.page {
    flex: 1 1 auto;
}

//============================//
.header {
    .header__container {
        @extend %flex-row;
        justify-content: end;
        min-height: 94px;

        .header__menu {}

        .header__button {

            @extend %orange-button-template;
            padding: 14px 18px;
        }
    }
}

//============================//
.menu {}

.menu__list {
    @extend %flex-row;
    flex-wrap: wrap;
    row-gap: 4px;
    gap: 27px;
    margin-right: 51px;
}

.menu__item {
    font-family: $default-font;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    text-transform: capitalize;
}

.menu__link {
    color: $white-color;
    text-decoration: none;
    transition: 1s;

    &:hover {
        color: $orange-color;
        transition: 1s;
    }
}

//============================//

.page {}

.page__main {
    min-height: calc(900px - 94px);
}

.main-block {
    display: flex;
    align-items: center;
    justify-content: start;

    .main-block__container {
        position: relative;
        display: flex;
        justify-content: flex-start;
        width: 100%;

        .main-block__body {


            color: $white-color;
            font-family: $default-font;

            .main-block__subtitle {

                font-style: normal;
                font-weight: 900;
                font-size: 16px;
                line-height: 20px;
                /* or 125% */
                letter-spacing: 0.15em;
                padding: 16px 0;
            }

            .main-block__heading {
                width: 654px;

                font-family: $accent-font;
                font-weight: 600;
                font-size: 64px;
                line-height: 72px;
                margin-bottom: 31px;
            }

            .main-block__text {
                width: 521px;
                font-weight: 500;
                font-size: 16px;
                line-height: 30px;

                margin-bottom: 36px;
            }

            .main-block__button-group {
                @extend %flex-row;
                justify-content: flex-start;
                gap: 23px;

                .button-group__button {
                    width: 160px;
                    height: 50px;

                    @extend %transparent-button-template;

                    &:first-child {
                        @extend %orange-button-template;
                    }
                }
            }
        }

        .elipse-small-grey {
            top: -95px;
            left: -102px;
        }

        .grouped-items-image {
            left: 764px;
            top: -93px;
            z-index: -1;

            @media (max-width: 1350px) {
                left: 350px;
            }

            @media (max-width: 760px) {
                display: none;
            }
        }
    }

}

.aside-block {
    position: absolute;

    .aside-block__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        img {
            cursor: pointer;
        }
    }
}

//============================//

.page__about {
    min-height: 833px;
    background-color: $page-bg-color2;
}

.about-block {

    .about-block__container {
        display: flex;
        flex-direction: row;
        gap: 60px;

        color: $white-color;

        .about-block__image {
            position: relative;
            top: 220px;
            left: 0px;
        }

        .about-block__body {
            font-family: $default-font;
            position: relative;
            top: 163px;

            .about-block__subtitle {}

            .about-block__h2 {}

            .about-block__text {
                width: 524px;
                height: 130px;

                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 26px;

                margin-bottom: 20px;
            }

            .about-block__table-group {
                @extend %flex-row;
                justify-content: start;
                gap: 54px;

                .about-block__table {
                    width: 242px;
                    height: 182px;
                    border-collapse: collapse;

                    td {
                        padding: 0 3px;
                    }
                }

            }

            .about-block__button {
                @extend %orange-button-template;
                width: 160px;
                height: 56px;
            }
        }
    }
}

//============================//

.page__portfolio {
    min-height: 1270px;
}

.portfolio-block {

    .portfolio-block__container {
        @extend %flex-column;

        color: $white-color;

        .portfolio-block__body {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            font-family: $default-font;

            .portfolio-block__subtitle {
                margin: 120px 0 17px;
            }

            .portfolio-block__h2 {
                margin-bottom: 54px;
            }

            .portfolio-block__classification {
                width: 476px;
                margin-bottom: 36px;

                >ul {
                    @extend %flex-row;
                    gap: 40px;

                    li {
                        cursor: pointer;

                        &:hover {
                            text-decoration: underline;
                            transform: translateY(-5px);
                        }
                    }
                }
            }

            .portfolio-block__images {
                display: grid;
                gap: 24px;
                grid-template-areas:
                    "a b c"
                    "d b f"
                    "d e f";

                min-height: 828px;
                width: 100%;

                // Define image names and grid areas
                $image-areas: (
                    image1: a,
                    image2: b,
                    image3: c,
                    image4: d,
                    image5: e,
                    image6: f
                );

            // Loop through each image and assign styles dynamically
            @each $name, $area in $image-areas {
                .portfolio-block__images-#{$name} {
                    grid-area: $area;
                    background-color: $gray-color;
                    border-radius: 8px;
                }
            }
        }
    }
}
}

//============================//

.page__services {
    min-height: 750px;
    background-color: $page-bg-color2;
}

.services-block {

    .services-block__container {
        @extend %flex-column;

        color: $white-color;

        .services-block__body {
            @extend %flex-column;
            margin-top: 120px;
            width: 100%;

            .services-block__subtitle {
                width: 172px;
                height: 36px;
                margin-bottom: 17px;
            }

            .services-block__h2 {
                margin-bottom: 55px;
            }

            .services-block__advantages {
                width: 100%;

                >.advantages__block-list {
                    @extend %flex-row;

                    .advantage__item {

                        width: 307px;
                        height: 360px;

                        background: $page-bg-color1;
                        border-radius: 8px;

                        padding: 41px 0 41px 25px;

                        p {
                            width: 173px;
                            height: 21px;

                            font-family: $accent-font;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 25px;

                            margin: 27px 0;
                        }

                        .advantage-desc {
                            width: 238px;
                            height: 72px;

                            font-family: $default-font;
                            font-style: normal;
                            font-weight: 300;
                            font-size: 16px;
                            line-height: 24px;

                            margin-bottom: 37px;
                        }

                        button {
                            width: 45px;
                            height: 45px;
                            background-color: #24263B;
                            background-image: url("../src/img/advantage-item-arrow.svg");
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center;
                            border: none;
                            border-radius: 50%;
                            cursor: pointer;
                            transition: background-color 0.3s ease-in-out;

                            &:hover {
                                background-color: $orange-color;
                            }
                        }
                    }
                }
            }
        }
    }
}

//============================//

.page__resume {
    min-height: 806px;
}

.resume-block {

    .resume-block__container {
        @extend %flex-row;
        align-items: normal;

        .resume-block__body {
            @extend %flex-column;
            align-items: flex-start;
            color: $white-color;
            font-family: $accent-font;

            .resume-block__subtitle {
                margin-top: 120px;
            }

            .resume-block__h2 {
                margin: 16px 0 47px;
            }

            .experience-list {
                margin-bottom: 40px;
                @extend %flex-row;
                gap: 20px;

                button {
                    @extend %page-bg-button-template;
                    height: 36px;
                }
            }

            .resume-block__skills {
                width: 606px;
                height: 345px;

                @extend %flex-column;
                gap: 43px;

                $skills: (
                    "adobe-illustrator": 90%,
                    "adobe-photoshop": 80%,
                    "adobe-after-effects": 70%,
                    "figma": 60%
                );

            .skill {
                width: 100%;
                height: 54px;

                @extend %flex-column;
                align-items: start;
                gap: 15px;

                .skill-name-percentage {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 25px;
                    @extend %flex-row;
                    width: 100%;
                }

                .skill-line {
                    width: 100%;
                    height: 1em;
                    background-color: $white-color;
                    border-radius: 300px;

                    .skill-overline {
                        background-color: $orange-color;
                        border-radius: inherit;
                        height: inherit;
                    }
                }

            }

            @each $name, $percentage in $skills {
                .skill[data-skill="#{$name}"] .skill-overline {
                    width: $percentage;
                }
            }
        }
    }

    img {
        width: 572px;
        height: 504px;

        margin-top: 266px;
    }
}
}

//============================//

.page__client {
    min-height: 747px;
    background-color: $page-bg-color2;
}

.client-block {

    @extend %flex-column;
    color: $white-color;

    .client-block__container {


        .client-block__body {

            @extend %flex-column;
            font-family: $default-font;
            width: 100%;

            .client-block__subtitle {
                width: 161px;
                height: 36px;
                padding: 12px 26px;

                margin-top: 120px;
            }

            .client-block__h2 {
                margin: 24px 0 49px;
            }

            .client-block__reviews {
                @extend %flex-row;
                width: 100%;
                gap: 24px;

                .review-block {

                    .img-cover__block {
                        background: url("../src/img/review-cloud-image.svg");

                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        transform: translateX(-24px);

                        padding: 41px 41px 82px 41px;
                        width: 424px;

                        .review-block__heading-block {

                            position: relative;
                            @extend %flex-column;
                            align-items: start;
                            width: 290;
                            height: 75px;

                            border-bottom: 1px solid $white-color;

                            .heading-block__h3 {
                                font-family: $accent-font;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 24px;
                                line-height: 22px;

                                margin-bottom: 15px;
                            }

                            .heading-block__subtitle {
                                font-style: normal;
                                font-weight: 300;
                                font-size: 16px;
                                line-height: 24px;
                            }

                            .heading-block__img {
                                position: absolute;
                                top: 4px;
                                right: 6px;
                            }
                        }

                        .review-block__text {
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 26px;

                            margin: 15px 0 30px;
                        }
                    }

                    >img {
                        transform: translateX(-12px) translateY(-20px);
                    }
                }
            }
        }
    }
}

//============================//

.bg-image {
    position: absolute;
}

.highlight-text {
    color: $orange-color;
}

.button-group {
    .button-group__button {}
}

.subtitle {
    width: 115px;
    height: 36px;

    background: $page-bg-color2;
    box-shadow: 0px 0px 24px rgba(15, 16, 24, 0.42);
    border-radius: 4px;


    font-family: $accent-font;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 12px;
    text-align: center;
    align-content: center;
    letter-spacing: 0.15em;
}

.h2 {

    font-family: $accent-font;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    color: $white-color;


}

.medium-weight {
    font-weight: 500;
}